body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #fff;
  color: #404040;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  text-align: center;
  color: #202053;
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-mob {
}

.logo-tab {
  display: none;
}

.menu-list {
  display: none;
}

.lang-btn {
  display: none;
}

.help-btn-link {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  padding: 16px 32px;
  width: 160px;
  height: 60px;
  box-shadow: 0 0 40px 0 rgba(239, 57, 89, 0.4);
  background-color: #ef3959;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.help-btn-link:hover,
.help-btn-link:focus {
  color: #ef3959;
  border: 2px solid #ef3959;
  background-color: #fff;
}

.burger-btn {
  border: none;
  background-color: transparent;
}

.burger-icon {
}

/* HERO */

.hero {
  padding-top: ;
  padding-bottom: ;
}

/*  */

/*  */

/*  */

/* TABLET */

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav {
    justify-content: unset;
    /* gap: 24px; */
  }

  .logo-tab {
    display: unset;
    margin-right: auto;
  }

  .logo-mob {
    display: none;
  }

  .menu-wrap {
    display: flex;
    align-items: center;
  }

  .lang-btn {
    display: unset;
    background-color: transparent;
    border: none;
    margin-right: 18px;
    padding: 0;
  }

  .help-btn-link {
    margin-right: 32px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  .header {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .head-container {
    padding-right: 48px;
  }

  .burger-btn {
    display: none;
  }

  .nav {
    justify-content: space-between;
  }

  .logo-tab {
    margin-right: 0;
  }

  .menu-list {
    display: flex;
    gap: 20px;
  }
  .menu-item {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #202053;
  }

  .menu-item:first-child {
    color: #4a86ff;
  }

  .menu-link {
  }

  .current {
    position: relative;

    color: #4a86ff;
  }

  .current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -6px;

    background-color: blue;
    height: 0.1px;
    width: 100px;
  }

  .help-btn-link {
    margin-right: 0;
  }
}
